<div>
    <form role="form">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name...">
        </div>

        <div class="form-group">
            <label for="schemaFile">Schema File (optional)</label>
            <input type="file" id="schemaFile">
        </div>

        <div class="form-group">
            <label for="dataFile">Data File</label>
            <input type="file" id="dataFile">
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox"> Skip header
            </label>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

